---
import Document from '../layouts/Document.astro';
import { Image } from 'astro:assets';
import TVPic from "../assets/images/KVBBGTV_small.png";
import GHYle from "../assets/images/github_yle.png";
import ClubSnare from "../assets/images/club_snare_medium.jpg";
---

<Document
>
	<h1 class="font-josefin text-4xl fade-in">About Me</h1>
	
	<div class="mx-0 my-[1.4rem]">
		<p>
			I wrote about financial markets and related topics for nine years
			before pivoting to programming. These days, I can be found designing
			an interactive data visualization or tinkering with a cloud-service
			script for the Yle newsroom.
		</p>
	</div>

	<div class="relative overflow-hidden">
		<Image
			src={GHYle}
			alt="GitHub screenshot after joining Yle, Finland's national public-service broadcasting company"
			class="wide-image"
			style={{ maxWidth: "100%", height: "auto" }}
		/>
	</div>

	<div class="mx-0 my-[1.4rem]">
		<p>
			In the past, you might have caught me on Bloomberg TV or radio,
			talking about the latest earnings season, an industry trend or an
			acquisition announced earlier that morning. I also wrote a lot about
			such topics during my stints in Helsinki and London.
		</p>
	</div>

	<div class="relative overflow-hidden">
		<Image
			src={TVPic}
			alt="Picture of Kasper speaking on Bloomberg TV"
			class="wide-image"
			style={{ maxWidth: "100%", height: "auto" }}
		/>
	</div>

	<div class="mx-0 my-[1.4rem]">
		<p>
			Before that, I used to DJ, write record reviews and design flyers.
		</p>
	</div>

	<div class="relative overflow-hidden">
		<Image
			src={ClubSnare}
			alt="A self-designed club-night poster with a space shuttle flying over a cassette tape"
			class="wide-image"
			style={{ maxWidth: "100%", height: "auto" }}
		/>
	</div>

</Document>
