---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Document from '../layouts/Document.astro';
---
<Document>
<!-- <h1
        class="text-shadow w-1/5 cursor-grab font-normal hue-rotate-[340deg] sepia-[45%]"

      >
        👋
      </h1> -->

      <div class="mx-0 my-[1.4rem] no-underline">
        <p>Hi! I&apos;m Kasper, a writer and a programmer.</p>
      </div>

      <div class="mx-0 my-[1.4rem] no-underline">
        <p>
          This is a workshop with an open door. My digital garden. You&apos;ll
          find some scattered notes and links here, some of them are related to
          my efforts to master the skills of a software engineer. Others are
          more general musings about life.
        </p>
      </div>
      <div class="mx-0 my-[1.4rem] no-underline">
        <p>
          I switched careers in 2021, mid-pandemic, after nearly a decade in
          financial journalism. Following about a year of determined self-study,
          I{" "}
          <a href="/blog/switching-lanes" class="internal-link">
            <em class="hover:text-accent">crossed over</em>
          </a>{" "}
          to a professional programming role, changing employers and countries
          in the process.
        </p>
      </div>
      <div class="mx-0 my-[1.4rem] no-underline">
        <p>
          I&apos;ve benefited greatly from a wealth of free resources and
          open-source software, and would like to contribute in turn. If you are
          new to web development or coding in general, I&apos;ve curated a{" "}
          <a href="/blog/starter-pack" class="internal-link">
            <em class="hover:text-accent">starter pack</em>
          </a>{" "}
          of assets based on what worked for me. It comes with a few pointers.
        </p>
      </div>
      <div class="mx-0 my-[1.4rem] no-underline">
        <p>
          Have a look around, any tools or useful thoughts you come across are
          yours to keep.
        </p>
      </div>
</Document>
