---
import NavMenuItems from "./NavMenuItems.astro";
---

<div class="relative hidden w-full min-w-[250px] items-baseline pt-4 text-[1.4rem] sm:flex">
  <div class="basis-1/2">
    <a
      href="/"
      class="internal-link font-josefin hover:text-accent active:text-accent"
    >
      Kasper Viita
    </a>
  </div>
  <div class="flex basis-1/2 justify-end gap-5 font-josefin">
    <NavMenuItems />
  </div>
</div> 